body {
  background-color: #ffcc00;
}

img {
  width: 250px;
  height: 165px;
  display: block;
  margin-left: 40%;
}

#burgerYouWant {
  display: inline-block;
  margin-left: 27%;
  margin-top: 1%;
  width: 20%;
}

#devouredBurger {
  display: inline-block;

  margin-left: 17%;
  margin-top: 1%;
  width: 20%;
}

#burger_form {
  margin-left: 37%;
  margin-top: 1%;
}

#burger_form input {
  margin-left: 7%;
}
